/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.one{
    background-color: red;
}

.two{
    background-color: blue;
}

.three{
    background-color: green;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:100vh;
    gap: 40px;
    
}